@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Aleo&family=Merriweather:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-w {
  width: 100%;
}

.header {
  width: 100%;
  padding-top: 22px;
}

.header__inner {
  max-width: 1116px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-w {
  max-width: 260px;
  margin-top: 11px;
}

.header .logolink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header__logo-name {
  margin-left: 30px;
}

.header .logo-name {
  font-family: 'Merriweather';
  font-weight: 900;
  font-size: 36px;
  line-height: 50px;
  color: #005FA3;
}

.header__items {
  max-width: 671px;
  width: 100%;
}

.header__contact {
  max-width: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .contact {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
}

.header .contact:last-child {
  font-style: normal;
}

.header .contact:not(:first-child) {
  margin-left: 41px;
}

.header .contact:hover {
  color: #005FA3;
}

.header__contact-phone {
  position: relative;
  display: block;
  padding-left: 30px;
}

.header__contact-phone::before {
  content: '';
  position: absolute;
  background: url(../images/icon-phone.png) no-repeat;
  width: 10px;
  height: 18px;
  left: 0;
  top: 0;
}

.header_contact-schedule {
  position: relative;
  display: block;
  padding-left: 30px;
}

.header_contact-schedule::before {
  content: '';
  position: absolute;
  background: url(../images/icon-time.png) no-repeat;
  width: 17px;
  height: 17px;
  left: 0;
  top: 0;
}

.header__contact-mail {
  position: relative;
  display: block;
  padding-left: 30px;
}

.header__contact-mail::before {
  content: '';
  position: absolute;
  background: url(../images/icon-mail.png) no-repeat;
  width: 23px;
  height: 17px;
  left: 0;
  top: 0;
}

.header__contact-addres {
  position: relative;
  display: block;
  padding-left: 33px;
}

.header__contact-addres::before {
  content: '';
  position: absolute;
  background: url(../images/icon-placeholder.png) no-repeat;
  width: 17px;
  height: 17px;
  left: 0;
  top: 0;
}

.header__main {
  max-width: inherit;
  width: inherit;
  margin-top: 22px;
}

.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav__items {
  list-style: none;
}

.header .nav__items:not(:first-child) {
  margin-left: 65px;
}

.header .nav__main-link {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #222222;
  text-decoration: none;
}

.header .nav__main-link:hover {
  color: #005FA3;
}

.header-content {
  margin-top: 31px;
  width: 100%;
  min-height: 670px;
  background: url(../images/header__img.png) no-repeat;
  background-size: cover;
  padding-top: 170px;
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
}

.header-content__inner {
  max-width: 1116px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
}

.header-content__inner .slick-arrow {
  position: absolute;
  bottom: -40px;
  right: 0;
  cursor: pointer;
}

.header-content__inner .slick-prev,
.header-content__inner .slick-next {
  font-size: 0;
  width: 60px;
  height: 60px;
  right: 60px;
  border: none;
}

.header-content__inner .slick-prev:hover,
.header-content__inner .slick-next:hover {
  opacity: 0.4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-content__inner .slick-prev {
  background: rgba(255, 255, 255, 0.2);
  background-image: url(../images/arrow-back.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.header-content__inner .slick-next {
  background: rgba(255, 255, 255, 0.2);
  background-image: url(../images/arrow-forward.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  right: 0;
}

.header-content__inner .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Активная точка */
  /* Элемент точки */
}

.header-content__inner .slick-dots li {
  list-style: none;
}

.header-content__inner .slick-dots li:not(:first-child) {
  margin-left: 40px;
}

.header-content__inner .slick-dots li.slick-active button {
  background-color: #FFFFFF;
  opacity: 1;
}

.header-content__inner .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  opacity: 0.4;
  border-radius: 50%;
  cursor: pointer;
}

.header-content__title {
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  color: #FFFFFF;
  margin-bottom: 80px;
}

.header-content .button {
  display: inline-block;
  width: 270px;
  height: 60px;
  padding: 18px 18px;
  background: #005FA3;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.header-content__button {
  margin-bottom: 70px;
}

.header-content .slick-slider {
  /* Слайдер запущен */
  /* Слайдер с точками */
}

.header-content .slick-list {
  overflow: hidden;
}

.header-content .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  display: inline-block;
  width: 270px;
  height: 60px;
  padding: 16px 0px;
  background: #005FA3;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.button:hover {
  opacity: 0.7;
}

.services {
  width: 100%;
  background: #EBEBEB;
  padding: 140px 0px;
}

.services__inner {
  max-width: 1116px;
  width: 100%;
  margin: 0 auto;
}

.services__title {
  margin-bottom: 102px;
}

.services__items-w {
  max-width: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__items-left {
  max-width: 350px;
  width: 100%;
}

.services__item {
  position: relative;
  background-image: url(../images/services-img.png);
  z-index: 2;
  max-width: 350px;
  width: 100%;
  min-height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.services .items-top {
  margin-bottom: 30px;
}

.services__item--color {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 95, 163, 0.65)), to(rgba(0, 95, 163, 0.65))), url(../images/services-img.png) no-repeat;
  background: linear-gradient(0deg, rgba(0, 95, 163, 0.65), rgba(0, 95, 163, 0.65)), url(../images/services-img.png) no-repeat;
}

.services__items-center {
  max-width: 350px;
  width: 100%;
}

.services__items-rigth {
  max-width: 350px;
  width: 100%;
}

.services__item-link-w {
  width: inherit;
  margin: 0px 0px 45px 45px;
}

.services__item-link {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
}

.title__top {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #BDBDBD;
  margin-bottom: 40px;
}

.title__bottom {
  font-family: 'Merriweather';
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #333333;
}

.company {
  width: 100%;
  background-color: white;
  padding: 140px 0px;
}

.company__inner {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.company__items-left {
  max-width: 440px;
  width: 100%;
}

.company__title {
  margin-bottom: 60px;
}

.company__name {
  font-family: 'Merriweather';
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #005FA3;
}

.company__items-right {
  max-width: 540px;
  width: 100%;
  margin-top: 24px;
}

.company__case-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.company__case {
  max-width: 255px;
  width: 100%;
  min-height: 255px;
  background-color: #EBEBEB;
}

.company__case-inner {
  margin: 30px 0px 0px 40px;
}

.company__case-summ {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 55px;
  line-height: 66px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
}

.company__case-subtitle {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 47px;
}

.company__case-link {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #005FA3;
}

.company__case-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.company__case--color-blue {
  background: #005FA3;
}

.company__case-summ--color-white {
  color: #FFFFFF;
}

.company__case-subtitle--color-white {
  color: #FFFFFF;
}

.company__case-link--color-white {
  color: #FFFFFF;
}

.text {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.clients {
  width: 100%;
  background-color: #EBEBEB;
  padding: 140px 0px;
}

.clients__inner {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.clients__title {
  margin-bottom: 80px;
}

.clients__company {
  max-width: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.clients__company-link {
  display: inline;
}

.clients .dots--color-blue {
  background-color: #005FA3;
  opacity: 0.4;
}

.clients .dots--bacground-blue {
  background: #005FA3;
  opacity: 0.9;
}

.clients .arrow-left--opacity-blue {
  background: #005FA3;
  opacity: 0.2;
}

.clients .arrow-right--color-blue {
  background: #005FA3;
  opacity: 0.9;
}

.reviews {
  width: 100%;
  padding: 140px 0px;
}

.reviews__inner {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.reviews__title {
  margin-bottom: 80px;
}

.reviews__client-w {
  max-width: inherit;
  width: inherit;
  background-color: #EBEBEB;
  margin-bottom: 50px;
}

.reviews__client-inner {
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
  padding: 45px 0px;
}

.reviews__client-text {
  margin-bottom: 58px;
}

.reviews .client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews .client__description {
  margin-left: 35px;
}

.reviews .client__name {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.reviews .client__job {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #4F4F4F;
}

.reviews .dots--color-blue {
  background-color: #005FA3;
  opacity: 0.4;
}

.reviews .dots--bacground-blue {
  background: #005FA3;
  opacity: 0.9;
}

.reviews .arrow-left--opacity-blue {
  background: #005FA3;
  opacity: 0.2;
}

.reviews .arrow-right--color-blue {
  background: #005FA3;
  opacity: 0.9;
}

.contact-us {
  width: 100%;
  min-height: 623px;
  background: url(../images/form__img.png) no-repeat;
  background-size: cover;
  padding: 122px 0px 140px;
}

.contact-us__inner {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-us__contacts {
  max-width: 459px;
  width: 100%;
}

.contact-us__contacts-title {
  font-family: 'Merriweather';
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.contact-us .text--color-white {
  color: #FFFFFF;
}

.contact-us__contacts-text {
  margin-bottom: 80px;
}

.contact-us__phone-emil {
  max-width: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-us__phoneemil-style {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #FFFFFF;
  text-decoration: none;
}

.contact-us__phone {
  position: relative;
  display: block;
  padding-left: 35px;
}

.contact-us__phone::before {
  content: '';
  position: absolute;
  background: url(../images/icon-phone2.png) no-repeat;
  width: 18px;
  height: 30px;
  top: 0;
  left: 0;
}

.contact-us__mail {
  position: relative;
  display: block;
  padding-left: 56px;
}

.contact-us__mail::before {
  content: '';
  position: absolute;
  background: url(../images/icon-mail2.png) no-repeat;
  width: 40px;
  height: 30px;
  top: 0;
  left: 0;
}

.contact-us__form {
  max-width: 540px;
  width: 100%;
}

.contact-us .input-name {
  width: 255px;
  outline: none;
  background-color: none;
}

.form {
  max-width: 540px;
  width: 100%;
  margin-top: 20px;
}

.form__inputs {
  max-width: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.form__input-w {
  max-width: 255px;
  width: 100%;
}

.form__input-name {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.form .input__name {
  max-width: inherit;
  width: inherit;
  background: transparent;
  border: none;
  outline: none;
  padding: 15px 0px;
  border-bottom: 1px solid #726F6D;
  color: #FFFFFF;
  font-size: 21px;
}

.form .input__name::-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #BDBDBD;
}

.form .input__name:-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #BDBDBD;
}

.form .input__name::-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #BDBDBD;
}

.form .input__name::placeholder {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #BDBDBD;
}

.form__input-family {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.form .input__family {
  max-width: inherit;
  width: inherit;
  background: transparent;
  border: none;
  outline: none;
  padding: 15px 0px;
  border-bottom: 1px solid #726F6D;
  color: #FFFFFF;
  font-size: 21px;
}

.form .input__family::-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #BDBDBD;
}

.form .input__family:-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #BDBDBD;
}

.form .input__family::-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #BDBDBD;
}

.form .input__family::placeholder {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #BDBDBD;
}

.form__textarea-w {
  max-width: 540px;
  width: 100%;
}

.form-textarea-name {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.form__textarea {
  max-width: 540px;
  width: 100%;
  height: 136px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #726F6D;
  outline: none;
  color: #FFFFFF;
  font-size: 21px;
  margin-bottom: 50px;
}

.form__textarea::-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #BDBDBD;
}

.form__textarea:-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #BDBDBD;
}

.form__textarea::-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #BDBDBD;
}

.form__textarea::placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #BDBDBD;
}

.form__button-w {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.form__button {
  border: none;
  cursor: pointer;
}

.footer {
  width: 100%;
}

.footer__inner {
  max-width: 1110px;
  width: 100%;
  height: 120px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */