@import url("https://fonts.googleapis.com/css2?family=Aleo&family=Merriweather:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-w {
  width: 100%;
}

.header {
  width: 100%;
  padding-top: 22px;
}

.header__inner {
  max-width: 1116px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-w {
  max-width: 260px;
  margin-top: 11px;
}

.header .logolink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header__logo-name {
  margin-left: 30px;
}

.header .logo-name {
  font-family: 'Merriweather';
  font-weight: 900;
  font-size: 36px;
  line-height: 50px;
  color: #005FA3;
}

.header__items {
  max-width: 671px;
  width: 100%;
}

.header__contact {
  max-width: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .contact {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
}

.header .contact:last-child {
  font-style: normal;
}

.header .contact:not(:first-child) {
  margin-left: 41px;
}

.header .contact:hover {
  color: #005FA3;
}

.header__contact-phone {
  position: relative;
  display: block;
  padding-left: 30px;
}

.header__contact-phone::before {
  content: '';
  position: absolute;
  background: url(../images/icon-phone.png) no-repeat;
  width: 10px;
  height: 18px;
  left: 0;
  top: 0;
}

.header_contact-schedule {
  position: relative;
  display: block;
  padding-left: 30px;
}

.header_contact-schedule::before {
  content: '';
  position: absolute;
  background: url(../images/icon-time.png) no-repeat;
  width: 17px;
  height: 17px;
  left: 0;
  top: 0;
}

.header__contact-mail {
  position: relative;
  display: block;
  padding-left: 30px;
}

.header__contact-mail::before {
  content: '';
  position: absolute;
  background: url(../images/icon-mail.png) no-repeat;
  width: 23px;
  height: 17px;
  left: 0;
  top: 0;
}

.header__contact-addres {
  position: relative;
  display: block;
  padding-left: 33px;
}

.header__contact-addres::before {
  content: '';
  position: absolute;
  background: url(../images/icon-placeholder.png) no-repeat;
  width: 17px;
  height: 17px;
  left: 0;
  top: 0;
}

.header__main {
  max-width: inherit;
  width: inherit;
  margin-top: 22px;
}

.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav__items {
  list-style: none;
}

.header .nav__items:not(:first-child) {
  margin-left: 65px;
}

.header .nav__main-link {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #222222;
  text-decoration: none;
}

.header .nav__main-link:hover {
  color: #005FA3;
}

.header__content {
  position: relative;
  margin-top: 31px;
  width: 100%;
  min-height: 670px;
  background: url(../images/header__img.png) no-repeat;
  background-size: cover;
  padding-top: 170px;
}

.header__content-inner {
  max-width: 1116px;
  width: 100%;
  margin: 0 auto;
}

.header__content-title {
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  color: #FFFFFF;
  margin-bottom: 80px;
}

.header .button {
  display: inline-block;
  width: 270px;
  height: 60px;
  padding: 18px 18px;
  background: #005FA3;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.header__content-button {
  margin-bottom: 70px;
}

.header .slider {
  max-width: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .slider__dots-w {
  max-width: 160px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .slider__dots {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: 0.4;
  cursor: pointer;
}

.header .slider__arrows-w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .slider__arrow-left {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #FFFFFF;
  opacity: 0.1;
}

.header .slider__arrow-left::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 30px;
  background: white;
  margin-top: 20px;
}

.header .slider__arrow-right {
  position: relative;
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  opacity: 0.2;
}
/*# sourceMappingURL=styles.css.map */